<a href="{% url "film_details" key=film.id %}" class="card flex-col position-relative {{ class }}">
    {% comment %}<img src="{{ film.poster.url|default:"" }}"
         alt="Poster of {{ film.name|default:"No title" }}"
         class="mb-1 fit-cover rounded-2 border--dirty-white"
         style="max-height: 300px"
    >{% endcomment %}
    {% include "components/image.html" with class="mb-1 fit-cover rounded-2 border--dirty-white" file=film.poster width="200px" height="300px" %}
    <p class="mb-3 body-2 font-weight-medium text-center px-4">{{ film.name|default:"No title" }}</p>
</a>