$overflows: (
	'scroll': scroll,
	'hidden': hidden,
	'clip': clip,
);

@each $abbr, $overflow in $overflows {

	.overflow-#{$abbr} {
		overflow: $overflow;
	}

	@each $dir in (x, y) {
		.overflow-#{$dir}-#{$abbr} {
			overflow-#{$dir}: $overflow;
		}
	}
}

.select-none {
	@include user-select(none);
}

.fit-cover {
	object-fit: cover;
}

$rounded: (
	'1': 2px,
	'2': 4px,
	'3': 6px,
);

@each $abbr, $radius in $rounded {
	.rounded-#{$abbr} {
		border-radius: $radius;
	}
}