:root {
	--success-light: #69ff5e;
	--success: #4bb543;
	--success-dark: #2b6826;

	--error-light: #ff3333;
	--error: #b22323;
	--error-dark: #651313;

	--primary-light: #33c0ff;
	--primary: #1e90ff;
	--primary-dark: #154fb2;

	--white: #fff;
	--silver: #aaa;
	--light-gray: #777;
	--gray: #555;
	--dark-gray: #333;
	--black: #111;
}