:root {
	--success-light: #69ff5e;
	--success: #4bb543;
	--success-dark: #2b6826;

	--error-light: #ff3333;
	--error: #b22323;
	--error-dark: #651313;

	--primary-light: #33c0ff;
	--primary: #1e90ff;
	--primary-dark: #154fb2;

	--white: #fff;
  	--snowy-white: #e6e6e6;
	--dirty-white: #ccc;
	--silver: #aaa;
	--light-gray: #777;
	--gray: #555;
	--dark-gray: #333;
	--black: #111;
}

$colors: (
	'success-light': var(--success-light),
	'success': var(--success),
	'success-dark': var(--success-dark),

	'error-light': var(--error-light),
	'error': var(--error),
	'error-dark': var(--error-dark),

	'primary-light': var(--primary-light),
	'primary': var(--primary),
	'primary-dark': var(--primary-dark),

	'white': var(--white),
	'snowy-white': var(--snowy-white),
	'dirty-white': var(--dirty-white),
	'silver': var(--silver),
	'light-gray': var(--light-gray),
	'gray': var(--gray),
	'dark-gray': var(--dark-gray),
	'black': var(--black),
);