{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css"/>
    <title>{{ title }}</title>
</head>
<body>
    {% block header %}
        <header class="main-header border-b--silver align-center position-sticky black pa-6 white--text"
                style="top: 0"
        >
            <a class="serif header-5">FILMOGRAPHY</a>

            <!--<nav class="ml-6">
                <a>link</a>
                <a>link</a>
                <a>link</a>
            </nav>-->
        </header>
    {% endblock %}

    {% block page %}
        <div class="justify-center">
            <div class="main-content pa-6">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</body>
</html>